extends layout

block content
  img(src=`${dish.dishFile}`, alt="画像").img-fluid
  p 料理名
  h4 #{dish.dishName}
  p 参考URL
  p #{dish.dishUrl}
  p #{dish.updatedAt}
  div
    a(href=`/menu/${dish.dishId}/edit`) 編集する
  form(method="post", action=`/menu/${dish.dishId}?delete=1`)
    button(type="submit") 削除する