extends layout

block content
  if user
    - var hasDish = dishes.length > 0
    if hasDish
      div.card.my-3
        h3.card-header 料理一覧
        table.table.table-bordered
          tr
            th 料理名
            th 参考URL
            th ジャンル
            th 役割
          each dish in dishes
            tr
              td
                a(href=`/menu/${dish.dishId}`).btn.btn-light #{dish.dishName}
              - var notset = "(未設定)"
              if dish.dishUrl === notset
                td 未設定
              else
                td
                  a(href=`${dish.dishUrl}`).btn.btn-outline-secondary #{dish.dishName}のレシピ
              td #{dish.dishGenre}
              td #{dish.dishRole}
      div
      a(href="/menu/new").btn.btn-info.my-3 料理を追加する
    else
      div
      a(href="/menu/new").btn.btn-info.my-3 料理を追加する
  else
    div
      a(href="/login") ログイン