extends layout

block content
  div.my-3
  if user
    - var hasDish = dishes.length > 0
    if hasDish
      div.card.table-responsive-sm
        table.table.table-bordered.text-nowrap
          tr.thead-light
            th 料理名
            th レシピURL
            th ジャンル
            th 役割
          each dish in dishes
            tr
              td
                a(href=`/menu/${dish.dishId}`).btn.btn-light #{dish.dishName}
              - var notset = "(未設定)"
              if dish.dishUrl === notset
                td 未設定
              else
                td
                  a(href=`${dish.dishUrl}`, target="_blank").btn.btn-outline-secondary.text-wrap #{dish.dishName}のレシピ
              td #{dish.dishGenre}
              td #{dish.dishRole}
      div
      a(href="/menu/new").btn.btn-info.my-3 料理を追加する
    else
      div
      a(href="/menu/new").btn.btn-info.my-3 料理を追加する
  else
    div
      a(href="/login") ログイン