extends layout

block content
  - var messages = getMessages()
  if messages.error
    div.alert.alert-danger
      each msg in messages.error
        .error= msg
  div.my-3
    form(method="post", action="/menu", enctype="multipart/form-data")
      div.form-group.my-3
        label 料理名
        input(type="text" name="dishName").form-control
      div.form-group.my-3
        label 参考URL
        input(type="url" name="dishUrl").form-control
      div.form-group.custom-file.my-3
        input(type="file" name="dishFile").custom-file-input
        label.custom-file-label 画像を選択してください(ドロップ可)
      div.form-group
        h5.my-3 ジャンル
        div.form-check
          input(type="radio" name="genre" value="和食" checked=true).form-check-input
          label(for="japan").form-check-label 和食
        div.form-check
          input(type="radio" name="genre" value="中華" checked=false).form-check-input
          label(for="chinese").form-check-label 中華
        div.form-check
          input(type="radio" name="genre" value="洋食" checked=false).form-check-input
          label(for="western").form-check-label 洋食
      div.form-group
        h5.my-3 役割
        div.form-check
          input(type="radio" name="role" value="主菜" checked=true).form-check-input
          label(for="mainDish").form-check-label 主菜
        div.form-check
          input(type="radio" name="role" value="副菜" checked=false).form-check-input
          label(for="sideDish").form-check-label 副菜
        div.form-check
          input(type="radio" name="role" value="汁物" checked=false).form-check-input
          label(for="soup").form-check-label 汁物
      button(type="submit").btn.btn-info 料理を追加する